@{
    ViewBag.Title = "Welcome to the PocketMenu";
    ViewBag.PageDesc = "Firstly, you need to set some information about your restaurant.";
}
<h2>New Restaurant!</h2>
<hr />
<div class="row">
    <div class="main-card col-md-5 card">
        <div class="card-body">
            <h5 class="card-title">
                Restaurant:
            </h5>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="restName" class="">Name of your restaurant.</label>
                    <input name="restName" value="Restaurant Name" required id="restName" placeholder="Example Restaurant..." type="text" class="form-control updater">
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label for="restDesc" class="">Describe your restaurant with a few words.</label>
                    <textarea class="form-control updater" id="restDesc" placeholder="Example restaurant is a place that you can..."></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group">
                        <label for="restLogo" class="">Logo of your restaurant</label>
                        <input name="restLogo" id="restLogo" type="file" class="form-control-file updater">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="position-relative form-group">
                        <label for="accentColor" class="">Accent Color</label>
                        <input name="accentColor" id="accentColor" type="color" class="form-control updater" value="#FF5733">
                    </div>
                </div>
                <div class="col-md-5 offset-2">
                    <div class="position-relative form-group">
                        <label for="accentColor" class="">There will be a map soon.</label>
                        <button class="btn btn-success form-control" id="btn-save">
                            Save Restaurant
                            <em class="fa fa-check"></em>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card col-md-4 card offset-1" id="preview-card" style="padding:5px;">
        <div class="card-body">
            <h3 id="restNamePrev" style="border-bottom:2px solid #EEEEEE; margin-bottom:20px; line-height:2">
                Restaurant Name
            </h3>
            <div class="menu-section">
                <div class="section-header-bottomline">
                    <h4>Main Dishes</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item menu-product">
                        <h5 class="list-group-item-heading" style="font-size:18px">
                            List group item heading
                            <br />
                            <sub>25₺</sub>
                            <em class="fa fa-chevron-right pull-right list-arrow" style="margin:-5px auto auto auto; color:#FF5733; font-size:24px"></em>
                        </h5>
                        <div class="card" style="display:none;">
                            <img src="~/Content/src/assets/images/city.jpg" style="object-fit:cover; width:100%; height:200px; margin-top:5px;" />
                        </div>
                    </li>
                    <li class="list-group-item menu-product">
                        <h5 class="list-group-item-heading" style="font-size:18px">
                            List group item heading
                            <br />
                            <sub>25₺</sub>
                            <em class="fa fa-chevron-right pull-right list-arrow" style="margin:-5px auto auto auto; color:#FF5733; font-size:24px"></em>
                        </h5>
                        <div class="card" style="display:none;">
                            <img src="~/Content/src/assets/images/city.jpg" style="object-fit:cover; width:100%; height:200px; margin-top:5px;" />
                        </div>
                    </li>
                    <li class="list-group-item menu-product">
                        <h5 class="list-group-item-heading" style="font-size:18px">
                            List group item heading
                            <br />
                            <sub>25₺</sub>
                            <em class="fa fa-chevron-right pull-right list-arrow" style="margin:-5px auto auto auto; color:#FF5733; font-size:24px"></em>
                        </h5>
                        <div class="card" style="display:none;">
                            <img src="~/Content/src/assets/images/city.jpg" style="object-fit:cover; width:100%; height:200px; margin-top:5px;" />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu-section">
                <div class="section-header-bottomline">
                    <h4>Drinks</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item menu-product">
                        <h5 class="list-group-item-heading" style="font-size:18px">
                            List group item heading
                            <br />
                            <sub>25₺</sub>
                            <em class="fa fa-chevron-right pull-right list-arrow" style="margin:-5px auto auto auto; color:#FF5733; font-size:24px"></em>
                        </h5>
                        <div class="card" style="display:none;">
                            <img src="~/Content/src/assets/images/city.jpg" style="object-fit:cover; width:100%; height:200px; margin-top:5px;" />
                        </div>
                    </li>
                    <li class="list-group-item menu-product">
                        <h5 class="list-group-item-heading" style="font-size:18px">
                            List group item heading
                            <br />
                            <sub>25₺</sub>
                            <em class="fa fa-chevron-right pull-right list-arrow" style="margin:-5px auto auto auto; color:#FF5733; font-size:24px"></em>
                        </h5>
                        <div class="card" style="display:none;">
                            <img src="~/Content/src/assets/images/city.jpg" style="object-fit:cover; width:100%; height:200px; margin-top:5px;" />
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

@section scripts{
    <script>
        var bind = function () {
            
            var updatePreview = function () {
                var restaurant = getRestValues();

                document.getElementById("restNamePrev").innerText = restaurant.restaurantName;
                
                //update bottom border of sectionHeaders
                var sectionHeaders = document.getElementsByClassName("section-header-bottomline");
                for (var i = 0; i < sectionHeaders.length; i++) {
                    var header = sectionHeaders[i];
                    header.style.borderBottomColor = restaurant.accentColor;
                }

                //update chevron colors
                var chevrons = document.getElementsByClassName("fa-chevron-right");
                for (var i = 0; i < chevrons.length; i++) {
                    var chevron = chevrons[i];
                    chevron.style.color = restaurant.accentColor;
                }
            };

            var updaters = document.getElementsByClassName("updater");
            for (var i = 0; i < updaters.length; i++) {
                var updater = updaters[i];
                updater.addEventListener("change", updatePreview);
                updater.addEventListener("keyup", updatePreview);
                updater.addEventListener("input", updatePreview);
            }

            document.getElementById("btn-save").addEventListener("click", function () {
                var restaurant = getRestValues();
            });

            function bindListItems() {

                var items = document.getElementsByClassName("list-group-item");
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    item.addEventListener("click", function () {
                        var restaurant = getRestValues();
                        //toggle image card
                        var card = this.querySelector(".card");
                        var listArrow = this.querySelector(".list-arrow");

                        if (card.style.display === "none") {
                            listArrow.style.color = "#6c757d";
                            listArrow.classList.remove("fa-chevron-right");
                            listArrow.classList.add("fa-chevron-down");
                            card.style.display = "block";
                        } else {
                            listArrow.style.color = restaurant.accentColor;
                            listArrow.classList.add("fa-chevron-right");
                            listArrow.classList.remove("fa-chevron-down");
                            card.style.display = "none";
                        }
                        //console.log(item);
                    });
                }

            }
            
            bindListItems();

            updatePreview();
        };

        var getRestValues = function () {
            var restName = document.getElementById("restName");
            var restDesc = document.getElementById("restDesc");
            var accentColor = document.getElementById("accentColor");

            return {
                "restaurantName": restName.value,
                "restaurantDesc": restDesc.value,
                "accentColor": accentColor.value
            };
        };

        var isRestValid = function (restaurant) {
            if (!restaurant.restaurantName)
                return false;
            if (!restaurant.restaurantDesc)
                return false;

            return true;
        };

        bind();
    </script>
}