
@{
    ViewBag.Title = "Edit Menu";
    ViewBag.PageDesc = "Edit Menu";
}

<h2>Edit Menu</h2>

<hr />

<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h3>
                <input type="text" class="form-control" value="Section Header" />
            </h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Product Name</div>
                            <div class="col-md-9"><input type="text" class="form-control" value="List group item heading" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Image</div>
                            <div class="col-md-9"><input type="file" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Description</div>
                            <div class="col-md-9"><input type="text" class="form-control" value="List group item heading" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Price</div>
                            <div class="col-md-9"><input type="number" class="form-control" value="List group item heading" /></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Product Name</div>
                            <div class="col-md-9"><input type="text" class="form-control" value="List group item heading" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Image</div>
                            <div class="col-md-9"><input type="file" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Description</div>
                            <div class="col-md-9"><input type="text" class="form-control" value="List group item heading" /></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3" style="align-self:center">Price</div>
                            <div class="col-md-9"><input type="number" class="form-control" value="List group item heading" /></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function bindListItems() {

            var items = document.getElementsByClassName("list-group-item");

            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                item.addEventListener("click", function () {
                    //toggle image card
                    var card = this.querySelector(".card");
                    var listArrow = this.querySelector(".list-arrow");

                    if (card.style.display === "none") {
                        listArrow.style.color = "#6c757d";
                        listArrow.classList.remove("fa-chevron-right");
                        listArrow.classList.add("fa-chevron-down");
                        card.style.display = "block";
                    } else {
                        listArrow.style.color = "#FF5733";
                        listArrow.classList.add("fa-chevron-right");
                        listArrow.classList.remove("fa-chevron-down");
                        card.style.display = "none";
                    }
                    //console.log(item);
                });
            }

        }

        function bindEditButtons() {
            items = document.getElementsByClassName("edit-button");

            for (var i = 0; i < items.length; i++) {
                var item = items[i];
                item.addEventListener("click", function () {

                });
            }
        }

            //bindEditButtons();

            //bindListItems();
    </script>
}