@model List<Seller>
@{
    //Seller firstSeller = Model.First();
    ViewBag.Title = "Create Your First Menu!";
    ViewBag.PageDesc = "Set your products while you see how it looks.";
    string restC = Request.Params["restC"];
}


@{
    if (restC == "true")
    {
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-success">
                    <h5>Congratulations!</h5> You created your restaurant. You can begin to create a menu for your restaurant such as Main Dishes or Drinks!
                </div>
            </div>
        </div>
    }
}

<h2>New Menu</h2>
<hr />
<div class="row" id="message"></div>
<div class="row container">
    <div class="main-card col-md-7 card">
        <div class="card-body">
            <div class="row">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Section Name</span>
                    </div>
                    <input placeholder="Main Dishes..." type="text" class="form-control">
                    <div class="input-group-append">
                        <button type="button" data-toggle="collapse" href="#section1" class="btn btn-outline-appcolor pull-right">
                            <em class="fa fa-chevron-right"></em>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="section1">
                <div class="card-body">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Product Name</span>
                            </div>
                            <input placeholder="Pizza..." type="text" class="form-control">
                            <div class="input-group-append">
                                <button type="button" data-toggle="collapse" href="#product1" class="btn btn-outline-appcolor pull-right">
                                    <em class="fa fa-chevron-right"></em>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="product1">
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Price</span>
                                    </div>
                                    @*<textarea class="form-control" placeholder="description..."></textarea>*@
                                    <input placeholder="25₺..." type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Description</span>
                                    </div>
                                    @*<textarea class="form-control" placeholder="description..."></textarea>*@
                                    <input placeholder="some description..." type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Product Image</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary pull-right">Add Product <em class="fa fa-plus fa-fw"></em></button>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <div class="card-body">
            <button type="button" class="btn btn-outline-primary pull-right">Add Section <em class="fa fa-plus fa-fw"></em></button>
        </div>
        <div class="card-footer">
            <button class="btn btn-success btn-lg">Save Menu</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>

@section scripts{
    <script>
        var bind = function () {

        };
        
        bind();
    </script>
}
