
@{
    ViewBag.Title = "New";
}

<h2>New Menu</h2>


<div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">List group custom content</h5>
            <ul class="list-group">
                <li class="active list-group-item">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </li>
                <li class="list-group-item">
                    <h5 class="list-group-item-heading">List group item heading</h5>
                    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts{
    
    <script>

        

    </script>
    
    }