
@{
    ViewBag.Title = "Dashboard";
    ViewBag.PageDesc = "This is an example dashboard created using build-in elements and components.";
}

<h2>Managable Menus</h2>
<hr />
<div class="row">
    <div class="mb-3 card text-black-50" style=" min-height:250px; margin-left: 15px">
        <div class="card-header">Main Dishes</div>
        <div class="card-body">With supporting text below as a natural lead-in to additional content.</div>
        <div class="card-footer btn-group">
            <button class="btn btn-outline-warning"><em class="fa fa-edit"></em> Edit</button>
            <button class="btn btn-outline-warning"><em class="fa fa-eye"></em> Preview</button>
            <button class="btn btn-outline-warning"><em class="fa fa-ban"></em> Disable </button>
        </div>
    </div>
    <div class="mb-3 card" style=" min-height:250px; margin-left: 15px">
        <div class="card-header">Desserts</div>
        <div class="card-body">With supporting text below as a natural lead-in to additional content.</div>
        <div class="card-footer btn-group">
            <button class="btn btn-outline-warning"><em class="fa fa-edit"></em> Edit</button>
            <button class="btn btn-outline-warning"><em class="fa fa-eye"></em> Preview</button>
            <button class="btn btn-outline-warning"><em class="fa fa-ban"></em> Disable </button>
        </div>
    </div>
    <div class="mb-3 card" style=" min-height:250px; margin-left: 15px">
        <div class="card-header">Sides</div>
        <div class="card-body">With supporting text below as a natural lead-in to additional content.</div>
        <div class="card-footer btn-group">
            <button class="btn btn-outline-warning"><em class="fa fa-edit"></em> Edit</button>
            <button class="btn btn-outline-warning"><em class="fa fa-eye"></em> Preview</button>
            <button class="btn btn-outline-warning"><em class="fa fa-ban"></em> Disable </button>
        </div>
    </div>
    <div class="mb-3 card" style=" min-height:250px; margin-left: 15px">
        <div class="card-header">Drinks</div>
        <div class="card-body">With supporting text below as a natural lead-in to additional content.</div>
        <div class="card-footer btn-group">
            <button class="btn btn-outline-warning"><em class="fa fa-edit"></em> Edit</button>
            <button class="btn btn-outline-warning"><em class="fa fa-eye"></em> Preview</button>
            <button class="btn btn-outline-warning"><em class="fa fa-ban"></em> Disable </button>
        </div>
    </div>
</div>

@*<h2>Managable Restaurants</h2>
<hr />
<div class="row">
    <div class="mb-3 card text-white bg-primary" style="background-image:url('../../Content/src/assets/images/city.jpg'); min-height:250px; margin-left: 15px">
        <div class="card-header">Retaurant 1</div>
        <div class="card-body">With supporting text below as a natural lead-in to additional content.</div>
        <div class="card-footer">
            <button class="btn btn-outline-warning"><em class="fa fa-edit"></em> Edit</button> &nbsp;
            <button class="btn btn-outline-warning"><em class="fa fa-users"></em> Employees</button>
        </div>
    </div>
</div>*@