
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Landing</title>
    <link href="~/Content/src/landing-assets/css/landing-page.css" rel="stylesheet" />
    <link href="~/Content/src/landing-assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Content/src/landing-assets/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div> 
    </div>
</body>
</html>
