
@{
    Layout = null;
    string regState = Request.Params["regState"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Giriş Yap - PocketMenu İçerik Yönetim Sistemi</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="Pocket Menu Content Managament System">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/Content/src/main.pro.css" rel="stylesheet">
    <style>
        .app-logo {
            background-repeat: round;
        }
    </style>
</head>
<body>
    <div class="" style="position:absolute; left:10px; top:10px; z-index:4">
        <a href="@Url.Action("Landing", "Home")" class="close">&times;</a>
    </div>
    @if (ViewBag.LoginNote != null)
    {
        <div class="alert alert-danger alert-dismissible" style="position:absolute; right:10px; top:10px; z-index:4">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Giriş Yapılamadı!</strong> Kullanıcı adı veya parola hatalı, lütfen yeniden deneyiniz.
        </div>
    }
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100">
                <div class="h-100 no-gutters row">
                    <div class="d-none d-lg-block col-lg-4">
                        <div class="slider-light">
                            <div class="slick-slider">
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('assets/images/originals/city.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Restoranınızı Dijitalleştirin!</h3>
                                            <p>
                                                İşletmenize uygulamamızda bir yerin, güncel fiyatlarınızı, sıralamalarınızı, kampanyalarınızı yönetmenin ne kadar kolay olduğunu görün.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('assets/images/originals/citynights.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Sizin Renkleriniz ve Sizin Menünüz</h3>
                                            <p>
                                                Birkaç dakika içinde renginizi seçiip menünüzü oluşturun, tasarım ve gerikalan işleri bize bırakın.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                                        <div class="slide-img-bg" style="background-image: url('assets/images/originals/citydark.jpg');"></div>
                                        <div class="slider-content">
                                            <h3>Menünüzü Paylaşın!</h3>
                                            <p>Size özel oluşturuduğumuz kare kod ile menünüzü istediğiniz kadar, istediğiniz yerde paylaşabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                            @{
                                if (regState == "suc")
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="alert alert-success">
                                                <h5>Tebrikler!</h5> Hesabınız oluşturuldu. Şimdi giriş yaparak PocketMenu uygulamasını kullanmaya başlayabilirsiniz.
                                            </div>
                                        </div>
                                    </div>
                                }


                            }
                            <div class="app-logo"></div>
                            <h4 class="mb-0">
                                <span class="d-block">Tekrar hoşgeldiniz,</span>
                                <span>Buradan hesabınıza giriş yapabilirsiniz.</span>
                            </h4>
                            <h6 class="mt-3">
                                Bir hesabınız yok mu?
                                @Html.ActionLink("Hemen Kaydolun!", "Up", "Sign", null, new { @class = "btn-pill btn-shadow btn-hover-shine btn btn-primary" })
                            </h6>
                            <div class="divider row"></div>
                            <div>
                                @using (Html.BeginForm("In", "Sign", FormMethod.Post, new { @class = "form-signin", name = "form-signin" }))
                                {
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="exampleEmail" class="">E-Posta</label>
                                                <input name="email" id="email" placeholder="Email here..." type="email" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="position-relative form-group">
                                                <label for="examplePassword" class="">Parola</label>
                                                <input name="password" id="password" placeholder="Password here..." type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="position-relative form-check">
                                        <input name="check" id="keepMeLoggedIn" type="checkbox" class="form-check-input">
                                        <label for="keepMeLoggedIn" class="form-check-label">Oturumu açık tut.</label>
                                    </div>
                                    <div class="divider row"></div>
                                    <div class="d-flex align-items-center">
                                        <div class="ml-auto">
                                            @*@Html.ActionLink("Recover Password", "Recover", "Sign", null, new { @class = "text-primary", style = "margin-right: 15px" })*@
                                            <button onclick="toggleLogin()" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg will-load">Giriş Yap</button>
                                            @*<a onclick="toggleLogin()" class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg will-load">Toggle Loading</a>*@
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/src/assets/scripts/main.pro.js"></script>
    <script>
        var toggleLogin = function () {
            var btn = document.getElementsByClassName("will-load")[0];
            btn.innerHTML = "<em class='fa fa-spinner fa-spin'></em> Giriş Yapılıyor...";
            btn.classList.toggle("disabled");
            btn.setAttribute("disabled", "true");

            document.forms.namedItem("form-signin").submit();
        };

        var dissmissAlerts = function () {
            var alerts = document.getElementsByClassName("alert");
            for (var i = 0; i < alerts.length; i++) {
                var alert = alerts[i];
                alert.classList.toggle("d-none");
            }
        };

        setTimeout(dissmissAlerts, 3000);
    </script>
</body>

</html>